body {
	font-family: "Montserrat";
}

#title {
	background-color: #ff4c68;
}

.container-fluid {
	padding: 3% 15%
}

/* headings */

.big-heading {
	color: white;
	font-family: "Montserrat";
	font-size: 4rem;
	line-height: 1.5;
}

.navbar {
	padding: 0 0 4.5rem; 
}

.navbar-brand {
	font-family: "Ubuntu";
	font-size: 2rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
	font-family: "Montserrat-Light";
}

.download-button {
	margin: 5% 3% 5% 0%;
	font-size: 25px;
}

.title-image {
	width: 18%;
	transform: rotate(25deg);
	position: absolute;
	right: 400px;
	z-index: 0;
}

section#features {
	text-align: center;
	padding: 150px;
	background-color: white;
	position: relative;
	z-index: 1;
}

.items { 
	padding: 80px;
}

.features-titles {
	font-family: "Montserrat";
	line-height: 1.5rem;
	padding: 10px 10px 0 10px;
}

.features-texts {
	font-family: "Montserrat";
	color: #8f8f8f; 
	padding: 0 10px 10px 10px;
}

.icons {
	font-size: 75px;
	color: #ef8172;
}

.icons:hover {
	color: #ff4c68;
}

#testimonials {
	padding: 7% 15%;	
	text-align: center;
	background-color: #ef8172;
	color: #fff;
}

.testimonials-text {
	font-family: "Montserrat";
	font-size: 3.5rem;
	line-height: 1.5;
}

.testimonials-image {
	width: 10%;
	border-radius: 100%; 
	margin: 20px;
}
.carousel-item {
	padding: 7% 15%;
}

section#press {
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}

.press-image {
	width: 10%;
	margin: 20px 20px 50px;

}
#pricing{
	padding: 7% 15%;	
	padding: 100px;	
	text-align: center;
	background-color: #fff;
}

.price-header{
	font-size: 20px;
	color: #ef8172;
}

.card-text {
	font-family: "Montserrat-Light";
}

.pricing-column {
	padding: 100px;
}

#cta {
	padding: 7% 15%;	
	padding: 100px;	
	text-align: center;
	background-color: #ff4c68;
	font-family: "Montserrat";
}

.cta-button {
	font-family: "Ubuntu";
	font-weight: "bold";
	
}

#footer {
	padding: 7% 15%;	
	padding: 100px;	
	text-align: center;
	background-color: #fff;
	font-family: "Montserrat";
	color: #808080;
}

.copyright-paragraph {
	font-family: "Montserrat-Light";
}

.footer-icons {
	letter-spacing: 1rem;
	font-size: 20px;
}

@media (max-width: 800px) {
	#title {
		text-align: center;
	}

	.title-image {
		width: 18%;
		transform: rotate(0);
		position: static;
	}
}


